.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    background: linear-gradient(to right,rgb(212, 48, 48), #E21414);
    color: #FFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    font-family: 'BrownMedium_Regular', sans-serif;
}

h1 {
    font-size: 30px;
    padding: 13px;
}

#bunny-popup-text {
    background-color: #FFFFFF;
    color: #333;
    width: 100%;
    padding: 20px 0;
    font-family: 'BrownMedium_Regular', sans-serif;
}

#bunny-popup-text h2 {
    color: #BB1312;
    margin: 0;
}

#bunny-popup-text p {
    color: #868686;
    margin: 8px 30px 0 30px;
    font-size: 15px;
}

.popup-image {
    margin: 15px 15px;
    position: fixed;
    max-width: 55px;
    height: auto;
    align-self: flex-start;
}

button {
    border: none;
    background-color: #991111;
    padding: 5px 20px;
    margin: 10px;
    font-size: 15px;
    border-radius: 3px;
    color: #FFF;
    font-family: 'BrownMedium_Regular', sans-serif;
}

button:hover {
    background-color: #891111;
    cursor: pointer;
}

.hidden {
    display: none;
}

.bunny {
    position: absolute;
    width: 50px; 
    height: auto; 
    cursor: pointer;
    transition: transform 0.2s ease; /* Add some animation */
    user-select: none; /* Prevent text selection on bunny */
}

.message, .modal, .bluescreen-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
    font-family: 'BrownMedium_Regular', sans-serif;
}

.message { font-size: 30px; color: #fff; background: rgba(0, 0, 0, 0.7); padding: 10px; width: 80vw; text-align: center; }
.modal { background: #fff; color:rgb(28, 28, 28); width: 300px; height: 360px; font-family: 'BrownLight_Regular', sans-serif; border-radius: 15px; text-align: center;  letter-spacing: 1px; }
.close { position: absolute; color: #fff; top: 3px; right: 6px; cursor: pointer; font-size: 15px; background-color: #E14242; padding: 3px 6px; border-radius: 30px;}

.success-popup-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.virus-victory-image {
    width: 250px;
    margin: 10px 0;
}

.success-text {
    padding-left: 15px;
    font-size: 15px;
}

.success-title {
    padding-bottom: 10px;
    font-size: 28px;
    color: #B15019;
}

#close-success-modal {
    border: none;
    background-color: #B15019;
    padding: 10px 40px;
    margin: 30px 0;
    font-size: 20px;
    border-radius: 5px;
    color: #FFF;
}

#close-success-modal:hover {
    background-color:rgb(146, 67, 20);
    cursor: pointer;
}

/* Blue screen overlay */
.bluescreen-overlay {
    width: 100vw;
    padding-left: 35vw;
    height: 100vh;
    background: #3596CC;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    display: none;
}

.sad-smile {
    padding-bottom: 30px;
    font-size: 15vh;
}

.bluescreen-title {
    font-size: 4.3vh;
    padding-bottom: 20px;
}

.bluescreen-text {
    font-size: 4vh;
    padding-bottom: 20px;
    font-family: 'BrownLight_Regular', sans-serif;
    max-width: 65vw; 
    word-break: break-word; 
    line-height: 1.5;
}