@import 'navigation.css';
@import 'bunnyVirus.css';
@import 'loadingBar.css';
@import 'leaveSite.css';

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

@font-face {
    font-family: 'BrownMedium_Regular';
    src: url('assets/fonts/BrownMedium Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrownLight_Regular';
    src: url('assets/fonts/BrownLight Regular.ttf') format('truetype');
    font-weight: light;
    font-style: light;
}